#####################################
# Build folders
#####################################
bin/
obj/
out/
publish/

#####################################
# Visual Studio
#####################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#####################################
# Rider / VS Code
#####################################
.idea/
.vscode/

#####################################
# Logs
#####################################
*.log

#####################################
# OS files
#####################################
.DS_Store
Thumbs.db

#####################################
# Environment & Secrets
#####################################
appsettings.Local.json
appsettings.Production.json
appsettings.Development.local.json
.env

#####################################
# Entity Framework
#####################################
*.db
*.sqlite
*.sqlite3

#####################################
# Docker
#####################################
docker-compose.override.yml

#####################################
# Test results
#####################################
TestResults/
coverage/

#####################################
# NuGet
#####################################
*.nupkg
*.snupkg
packages/

#####################################
# C# generated
#####################################
*.cache
*.pdb
*.mdb